:root{
    --body-font: "karla"; 
    --title-size: 1.5rem; 
    --body-size: 0.9rem; 
    --webpage-background: rgba(243,241,234); 
}

body{
    margin: 1rem;
    font-family: var(--body-font); 
    background-color: var(--webpage-background);
}

.body-container {
    display: flex;
    height: 100%; 
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 0.5rem;  */
}

.header-container {
    display: flex; 
    flex-direction:column; 
    align-items: left; 
}

.header-container h1 {
    margin: 0; 
    font-size: var(--title-size); 
    font-style: normal;
    font-weight:normal; 
    text-align: right;
}

.header-container p {
    margin: 0; 
    font-size: var(--body-size); 
    font-style: normal;
    padding-left:0.5rem; 
}

.d3-container{
    height: calc(100vh - 2rem); 
}

@font-face {
    font-family: "karla";
    src: url("./fonts/Karla/Karla-VariableFont_wght.ttf"); 
}
